.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html {
    height:100%;

}
body {
    /*DEPOIS EU TERMINO DE FAZER. PRECISO DE UM REFERENCIAL ANTES*/
    background: url('../images/bg-pattern-top.svg') no-repeat,  url('../images/bg-pattern-botto.svg') no-repeat , hsl(185, 75%, 39%);
    background-position: left -150px bottom -100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100%;

}
main {
    width: 250px;
    height: 270px;
    box-sizing:border-box;
    margin:0;
}
img {
    margin:60px 77px;
    border-radius:50%;
    border: 2px solid #555;

}
#background-blue {
    justify-content:center;
    height:40%;
    background:url('../images/bg-pattern-card.svg') no-repeat;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
#user-info {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height:60%;
    background:rgba(255, 255, 255, 1);

}
