.attribution { font-size: 11px; text-align: center; margin-top:10px;}
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    box-sizing:border-box;
}
html {
    height:100%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    /*DEPOIS EU TERMINO DE FAZER. PRECISO DE UM REFERENCIAL ANTES*/
    background: url('../images/bg-pattern-top.svg') no-repeat,  url('../images/bg-pattern-bottom.svg') no-repeat , hsl(185, 75%, 39%);
    background-position:left -160px top -420px , right -150px bottom -480px ;
    background-size:800px, 800px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100%;

}
main {
    
    width: 350px;
    height: 370px;
    margin:0;
}
img {
    width:105px;
    height:auto;
    margin-top:140px;
    border-radius:50%;
    border: 5px solid rgb(255, 255, 255);
}
#background-blue {
    display:flex;
    align-items:center;
    justify-content:center;
    height:40%;
    background:url('../images/bg-pattern-card.svg') no-repeat;
    background-size:cover;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
}
#user-info {
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height:60%;
    background:rgba(255, 255, 255, 1);
    display:flex;
    align-items:center;
    flex-direction:column;
}
.name-and-location {
    margin-top:55px;

}
h1 {
    font-weight: 700;
    color:hsl(229, 23%, 23%);
    margin-bottom:10px;

}
span {
    font-weight:400;
    color:  hsl(227, 10%, 46%);
}
h4 {
    text-align:center;
    font-weight:400;
    color:  hsl(227, 10%, 46%);
    margin-top:0;
    margin-bottom:25px;
    font-size:14px;
}
.flp {
    border-top: 1px solid rgba(231, 231, 231, 1);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height:100%;
}
section {
    text-align:center;
}
h2 {
    font-weight: 700;
    color:hsl(229, 23%, 23%);
    margin:0px;
    font-size:18px;
}
p {
    margin:0;
    margin-top:5px;
    font-weight:400;
    color:  hsl(227, 10%, 46%);
    font-size:11px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    main {
        width: 330px;
        height: 380px;
    }
    body {
        background-size: 700px, 700px;
        background-position: left -441px top -480px , right -498px bottom -361px;
    }
}

 
@media only screen and (min-width: 600px) {
    body {
        background-position: left -482px top -480px , right -532px bottom -414px
    }

}

